<a href="https://colab.research.google.com/github/ciepielajan/Time_series/blob/main/time_series_generator_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CEL: \
Utworzenie DF  dla tygodniowych okresów (7 dniowych) w którym pierwsze 6 dni będzie X a  ostatni dzień (siódmy) y.

In [1]:
import numpy as np
import pandas as pd

wygenerowanie losowych danych (cena per dzień) dla całego roku

In [2]:
time = pd.date_range(start="2021-01-1", end="2021-12-31", freq="1D")
data = np.random.randint(5,30,size=(365,1))

df = pd.DataFrame(data, index=time, columns=["price"])
print(df.shape)
df[:3]

(365, 1)

            price
2021-01-01     17
2021-01-02     18
2021-01-03     14

obliczam ilośc pełnych tygodni (7 dni) i ustalam ile wartości od końca trzeba usunąć aby pozbyć się ostatniego niepełnego tygodnia

In [3]:
full_weeks = int(len(df) / 7 ) * 7
full_weeks - len(df)

df = df[:full_weeks]
df.shape

(364, 1)

In [4]:
weeks = df.groupby(pd.Grouper(freq="7D"))

df_weeks = pd.DataFrame()

for week in weeks:
  week = week[1].reset_index().T
  week.columns = [1,2,3,4,5,6,7]
  df_weeks = df_weeks.append(week)

df_weeks[:5]

                         1  ...                    7
index  2021-01-01 00:00:00  ...  2021-01-07 00:00:00
price                   17  ...                   24
index  2021-01-08 00:00:00  ...  2021-01-14 00:00:00
price                    6  ...                   20
index  2021-01-15 00:00:00  ...  2021-01-21 00:00:00

[5 rows x 7 columns]

podglad wcześniejszych indexów czy transformacja faktycznie dobrze je poukładała

In [5]:
#podgląd
df_weeks.loc["index"][:5]

                         1  ...                    7
index  2021-01-01 00:00:00  ...  2021-01-07 00:00:00
index  2021-01-08 00:00:00  ...  2021-01-14 00:00:00
index  2021-01-15 00:00:00  ...  2021-01-21 00:00:00
index  2021-01-22 00:00:00  ...  2021-01-28 00:00:00
index  2021-01-29 00:00:00  ...  2021-02-04 00:00:00

[5 rows x 7 columns]

usunięcie indeksów z nazwą "index"

In [6]:
df_weeks = df_weeks[df_weeks.index != "index"]
df_weeks[:3]

        1   2   3   4   5   6   7
price  17  18  14  21   8   7  24
price   6  25  10  22  22  25  20
price  11  10  16  20  10  13   5

zresetowanie indexu

In [7]:
df_weeks.reset_index(drop=True, inplace=True)
df_weeks[:3]

    1   2   3   4   5   6   7
0  17  18  14  21   8   7  24
1   6  25  10  22  22  25  20
2  11  10  16  20  10  13   5

dziele zbior na train i test wg tygodni.  train - 41 tygodni , test 11 tygodni

In [28]:
df_train = df_weeks.iloc[0:41]
df_test = df_weeks.iloc[41:52]

In [29]:
X_train = df_train[[1,2,3,4,5,6]]
y_train = df_train[7]

X_train.shape, y_train.shape

((41, 6), (41,))

In [30]:
X_test = df_test[[1,2,3,4,5,6]]
y_test = df_test[7]

X_test.shape, y_test.shape

((11, 6), (11,))